/* pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  .container {
    .plans {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      .plan {
        background-color: #fcfcfc;
        text-align: center;
        .head {
          padding: 40px 20px;
          border-top: 1px solid var(--main-color);
          border-bottom: 1px solid var(--main-color);
          h3 {
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          span {
            font-size: 60px;
            font-weight: bold;
            // position: relative; /* maybe useless == yes in 12:33*/
            &::before {
              content: "$";
              font-size: 25px;
              position: relative; /*position: absolute; will move it out of dom to span big area */
              top: -40px;
              margin-right: 15px;
              font-weight: normal;
            }
            &::after {
              content: "/Mo";
              font-size: 20px;
              position: relative; /*position: absolute; will move it out of dom to span big area */
              right: -15px;
            }
          }
        }
        ul {
          border-bottom: 1px solid var(--main-color);
          li {
            padding: 20px;
            position: relative;
            &:not(:last-child)::after {
              content: "";
              width: 140px;
              height: 1px;
              background-color: var(--main-color);
              position: absolute; /* position: relative; will not appear cuz it is not in the real dom tree */
              left: 50%;
              transform: translateX(-50%);
              bottom: 0;
            }
          }
        }
        .foot {
          a {
            display: block;
            padding: 20px;
            text-decoration: none;
            width: fit-content;
            margin: 30px auto;
            border: 1px solid var(--main-color);
            color: var(--main-color);
          }
        }
      }
    }
    .contact-text {
      text-align: center;
      margin: 50px auto 20px;
      font-size: 20px;
    }
    .contact-link {
      display: block;
      width: fit-content;
      margin: 20px auto;
      background-color: var(--main-color);
      color: white;
      text-decoration: none;
      padding: 15px 30px;
    }
  }
}
